#title {
    text-align: center;
}

#instruction{
    font-size: 16pt;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sentence {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px black solid;
    padding:5px;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.sentence:hover {
    /* background: rgba(0, 0, 0, 0.1);*/
    box-shadow: 0px 0px 10px black;
    cursor:pointer;
}

.word {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

#warning {
    font-size: 10pt;
    font-weight: bold;
    color: red;
    text-align: center;
    height: 20px;
    margin-bottom: 10px;
}

#submit_panel {
    margin-top: 5px;
    margin-bottom: 30px;
}

.selected {
    background: rgba(0, 0, 0, 0.75);
    color: white;
}

.highlighted {
    font-weight: bold;
    background: yellow;
}

.selected .highlighted {
    color: black;
}
#question_table {
    font-size: 12pt;
}

#question_table thead th {
    text-align: center;
}

#question_table td:nth-child(2), #question_table td:nth-child(3) {
    text-align: center;
}

.blank {
    /* background: #686969; */
    display: inline-block;
    border: 1px solid black;
    width: 60px;
    height: 22px;
    vertical-align: middle;
}

.form-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #a2f1ffd2;
    color: #1d2b2b;
    /* top: 10px; */
    /* left: 4px; */
    height: 35px;
    width: 35px;
    border: 1px solid black;
    /* border-radius: 50px; */
    cursor: pointer;     
    /* margin-right: 7px; */
    outline: none;
}
.form-radio:checked::before {
    position: absolute;
    font: 25px/1 'Open Sans', sans-serif;
    font-weight: bold;
    left: 7px;
    top: 5px;
    /*content: '\02143';*/
    content: '\2714';
    /*content: 'v';*/
    /*transform: rotate(40deg);*/
}
.form-radio:hover {
    /*background-color: #f7f7f7;*/
    /*background-color:#7bdef0d2;*/
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);

}
.form-radio:checked {
    background-color: #8be8f8d2;
}

#question_table td:nth-child(2) .form-radio {
    background-color: rgb(255, 255, 167);
}

#reason_table .form-radio {
    background-color: white;
}

#second_stage, #third_stage, #second_instruction{
    /*display: none;*/
}

#submit_btn {
    display: none;
}

#first_box {
    display:inline-block;
    background-color: rgb(255, 255, 167);
    border: 1px solid black;
    width: 25px;
    height: 25px;
    position:relative;
    top: 5px;
}

#second_box {
    display:inline-block;
    background-color: #a2f1ffd2;
    border: 1px solid black;
    width: 25px;
    height: 25px;
    position:relative;
    top: 5px;
}

#reason_table {
    font-size: 12pt;
}

#reason_table thead th {
    text-align: center;
}

#reason_table td:nth-child(2), #question_table td:nth-child(3) {
    text-align: center;
}

.dropdown-item {
    cursor: pointer;
}

#reason_table button {
    width: 200px;
}

/*.accept:before {
    content: "o";
    color: green;
    left: -20px;
    position: relative;
    font-weight: bold;
    margin-right: -10px;
}*/
.todo {
    color: red;
    font-weight: bold;
}

.condition {
    display: block;
    border-radius: 3px;
    margin: 5px;
    box-shadow: 0px 0px 2px black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.rule {
    font-weight: 400; 
}

.case {
    padding: 5px;
    border: 1px solid black; 
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.case_strong {
    font-weight: 900;
}

.red {
    color: red;
}
#instruction_2 {
    margin-bottom: 20px;
}
.accept::after {
	display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    background-color: #28a745;
    color: #fff;
    content: "Accept";
}
.suitability::after {
	display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    background-color: #dc3545;
    color: #fff;
    content: "Suitability";
}
.informative::after {
	display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    background-color: #dc3545;
    color: #fff;
    content: "Informative";
}
.diversity::after {
	display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    background-color: #dc3545;
    color: #fff;
    content: "Diversity";
}
.sentence_complexity::after {
	display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    background-color: #dc3545;
    color: #fff;
    content: "Sentence Complexity";
}
.lexical_complexity::after {
	display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    background-color: #dc3545;
    color: #fff;
    content: "Lexical Complexity";
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

#instruction_2 table li {
    margin-top: 3px;
    margin-bottom: 3px;
}
